@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;500;600;700&display=swap");

/* CSS variables for reusablity across all files */
:root {
  --primary-color: #b1454a;
  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--color-creamson);
}

body.dark {
  background-color: #1a1a1a;
  color: #fff;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background: transparent;
  outline: none;
  border-radius: 10px;
  border: 1px solid #b1454a;
}

.dark i {
  color: #fff;
}
i {
  color: #b1454a;
}

.contact-form {
  display: flex;
  flex-direction: row;
  border: 1px solid #b1454a;
  margin: 80px 0px;
  border-radius: 20px;
}

/*Get-in-touch-with-us Form*/

.left-col {
  width: 40%;
}

.container-get {
  padding: 30px 20px;
}

.get-header {
  background: var(--primary-color);
  border-radius: 20px;
}

.get-header h2 {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.get-header p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.get-phone,
.get-email {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  margin-top: 30px;
  min-height: 40px;
  flex: 1;
  padding: 20px;
}

.social {
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  color: #fff;
}

.social-link,
.social-git {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  min-height: 40px;
  flex: 1;
}

.social-link a,
.social-git a {
  text-decoration: none;
}

.social-link i,
.social-git i {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Contact-us Subscription Form*/

.right-col {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.container-form {
  background: var(--primary-color);
  padding: 30px 20px;
  border-radius: 0px 20px 20px 0px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
}

.contact-info {
  margin-top: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form-header {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.form-header h2 {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.form-header p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.contact-info label {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 0px 0px 5px 8px;
}

.contact-info input {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  background: none;
  min-height: 20px;

  padding: 10px;
  outline: none;
}

.contact-info input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-info textarea {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  background: none;
  min-height: 10px;
  padding: 10px;
  outline: none;
  resize: none;
  overflow-y: hidden;
}

.contact-info textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}

input[type="button"] {
  align-items: center;
  padding: 10px;
  min-width: 180px;
  font-size: 24px;
  font-weight: 800;
  border-radius: 46px;
  color: var(--primary-color);
  background: #fff;
  margin-top: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

/*Modal*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  width: 20%;
  height: 40%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content-container {
  background: var(--primary-color);
  padding: 20px 10px;
  border-radius: 20px;
  color: #fff;
}

.modal-content-container-1 {
  padding: 20px;
  border-radius: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.modal-content span img {
  padding: 10px 0;
}

.modal-content p {
  padding-bottom: 10px;
  color: var(--primary-color);
}

.success,
.error {
  background: transparent;
  border: 1px solid var(--primary-color);
  font-size: 24px;
  font-weight: 500;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.error {
  color: var(--primary-color);
}

.success:hover,
.error:hover,
.success:focus,
.error:focus {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/*Modal Dark Mode*/

.dark .modal-content {
  background-color: #1a1a1a;

  color: #fff;
}

.dark .success .error {
  color: #fff;
}

/*Media Queries*/

@media screen and (max-width: 1024px) {
  header {
    padding: 5px 20px 0px 20px;
  }

  .contact-form {
    margin: 80px 20px;
  }

  .contact-form {
    flex-direction: row;
    margin: 80px 20px;
  }

  .left-col {
    width: 40%;
    flex: 1;
  }

  .right-col {
    width: 60%;
  }

  .modal-content {
    width: 45%;
    height: 35%;
    margin: 30% auto;
  }
  .modal-content-container h2,
  .modal-content-container-1 h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 5px 10px 0px 10px;
  }
  .contact-form {
    flex-direction: column;
    margin: 80px 10px;
  }
  .left-col {
    width: 100%;
  }

  .right-col {
    width: 100%;
  }

  .container-form {
    border-radius: 20px;
  }

  .modal-content {
    width: 80%;
    height: 40%;
  }
  .modal-content-container h2,
  .modal-content-container-1 h2 {
    font-size: 20px;
  }
}
